<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    <%- include('partials/head') %>
    
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Hola</h1>
    <h2>Soy leo y este es mi primer proyecto en nodeJS</h2>
    <img src="/img/programador.jpg" >
    <%- include('partials/footer') %>
</body>
</html>