<footer>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, sit. Similique, vel aspernatur soluta temporibus, recusandae consectetur ex laborum expedita eligendi necessitatibus voluptatum consequatur. Itaque autem corrupti nihil perspiciatis impedit.</p>
</footer>